---
name: Stage

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  stage:
    runs-on: ubuntu-latest
    environment: staging
    name: Stage skill handler
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2.3.4

      - name: Setup Java 11
        uses: actions/setup-java@v2.3.0
        with:
          distribution: adopt
          java-version: 11
          cache: maven

      - name: Configure aws
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Build skill handler
        working-directory: ./lambda
        run: mvn verify -Pits,cov,zip -B -ff

      - name: Deploy skill handler to lambda (no publish)
        run: >
          aws lambda update-function-code
          --function-name alexa-skill-shabbat-times
          --zip-file fileb://./lambda/target/skill-handler-function.zip

      - name: Push coverage report
        uses: codecov/codecov-action@v2.1.0
        with:
          files: lambda/target/site/jacoco/jacoco.xml
          fail_ci_if_error: true
